<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_InVznKd7lZOgx7qXKuH9DF9zw3Kzebk</string>
	<key>GCM_SENDER_ID</key>
	<string>414330706451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatogether-cc587</string>
	<key>STORAGE_BUCKET</key>
	<string>chatogether-cc587.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414330706451:ios:bd5c1f579a409f1fa8bde6</string>
</dict>
</plist>